<div class="info editbox" rel="">
    <div class="ico">
    <img src="/ui/ico/24/organizations.png" alt="" />
  </div> 
  <h1 class="editable" rel="name">{app.name}</h1>
  <div class="tags"></div> 
  <ul class="users openbox" rel="/organizations/userselector/4cdd9423b4664a0b27330000">
    <li rel="4cdd5cd8b4664af8262d0000" title="Mario"><img src="/thumbs/users/na.jpg" alt="" /></li>
  </ul>
</div>

<div class="inner main-box"> 
  <div class="bar">
    <ul class="tabs">
      <li rel="#tab-general"><a>General</a></li>
      <li rel="#tab-details"><a>Details</a></li> 
    </ul> 
  </div>
  
  <div id="tab-general" class="box tab editbox" rel="">

    <div class="column">
      <h2>Description</h2> 
      <div class="description"><p>{app.description}</p></div>  
    </div>
    <div class="column">
      <a class="button big" href="{app.launch_uri}">Launch</a
    </div>
    <div class="clear"></div>
  </div> 
  <div id="tab-details" class="box tab editbox" rel="">
 
    <h2>Details</h2> 
    <div class="clear"></div>
  </div> 
</div>