<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>UMCC by Sourcegarden</title> 
    <script type="text/javascript" src="/ui/js/lib/jquery.js"></script> 
  <script type="text/javascript" src="/ui/js/splash_scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/ui/splash.css" media="all" /> 
  <link rel="icon" type="image/png" href="/ui/img/favicon.png" /> 
</head> 
 
<body> 
    {content}
</body> 
</html>