<div class="bar">
  <form class="criteria">
    <input type="text" name="keyword" />
    <button></button> 
        <div class="select">
            <a>All</a>
            <ul>
                <li rel="">All</li>
                <li rel="my">Mine</li>
            </ul>
        </div>
    </form>
  <a class="create button openbox" rel="">Add new</a>
  <a class="import button openbox" rel=""><img src="/ui/ico/16/import.png" alt=""/>Import</a>
</div>

<div class="inner">
  <div class="meta">
    <a class="prev"></a>
    <p class="found"></p>
    <a class="next"></a>
    
    <div class="sort">

      <label>Sort by</label>
      <select>
        <option value="name">Name</option>
        <option value="_id">Created</option>
      </select>
      <a class="order"></a>
    </div>

  </div>
  
  <div id="ajax-list"></div> 
  <div class="meta">
    <a class="prev"></a>
    <p class="found"></p>
    <a class="next"></a>
    <div class="pagination"></div>
  </div>
</div>
